@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Trispace:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1a181b;
  color: #f5f3f5;
  font-family: "Trispace", Helvetica;
}

.btn-bg {
  background-color: #3e8989;
}

.btn-bg:hover {
  background-color: #337171;
}

.text-btn {
  color: #4ca9a9;
}

.textfield-bg {
  background-color: #f0ebd8;
}

.password-met {
  color: #ace1af;
}

.password-unmet {
  color: #cd5c5c;
}

aside {
  background-color: #3e8989;
  flex: 0 0 200px;
}

.hover-nav {
  border-radius: 6px;
  transition: 0.2s;
}

.hover-nav:hover {
  background-color: #326e6e;
}

.icon-hover-bg:hover {
  background-color: #2d6363;
  transition: 0.2s;
}

hr {
  border: none;
  height: 2px;
  background-color: #666;
}

.loading-icon {
  width: 18px;
  height: 18px;
  border: 4px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.popover {
  position: absolute;
  opacity: 0;
  z-index: 1000;
  pointer-events: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-20px); /* Initially hidden and moved up */
  animation: showPopover 0.15s forwards ease-in-out;
  display: none; /* Hide element initially */
}

.popover.show {
  opacity: 1; /* Fade in */
  visibility: visible;
  display: block;
  transform: translateY(0); /* Slide to original position */
  pointer-events: auto; /* Enable interaction when shown */
  animation: smoothTransition 0.15s forwards ease-in-out;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 99999;
  animation: smoothTransition 0.15s forwards ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.overlay-modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99998;
  animation: smoothTransition 0.15s forwards ease-in-out;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #666;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 100px;
}

/* Apply custom styles to all Editor.js toolbar buttons */
.ce-toolbar__plus,
.ce-toolbar__settings-btn {
  background-color: #3e8989 !important; /* Tomato background color */
  color: white !important; /* Text color */
}

/* Hover effect */
.ce-toolbar__plus:hover,
.ce-toolbar__settings-btn:hover {
  background-color: #387b7b !important; /* Change on hover */
}

.ce-popover--opened > .ce-popover__container {
  border: 0px;
}

.ce-popover__container {
  background-color: #333;
}

.ce-popover__container svg {
  color: white;
}

.ce-popover-item:hover {
  background-color: #666 !important;
}

.ce-popover-item__title {
  color: white;
}

.cdx-search-field,
.ce-popover__search {
  background-color: #666;
  color: white;
}

.cdx-search-field__icon svg {
  color: #d9c8c8;
}

.cdx-search-field__input::placeholder {
  color: #d9c8c8;
}

.ce-paragraph::before {
  color: #666 !important;
}

.ce-header::before {
  color: #666 !important;
}

::selection {
  background-color: #3297fd !important;
}

.ce-block--selected .ce-block__content {
  background-color: #333 !important;
}

.codex-editor__redactor {
  padding: 0px !important;
}

.ce-block__content {
  margin-right: 0px;
  margin-left: 0px;
  max-width: 100% !important;
}

.codex-editor__redactor {
  margin-right: 0px !important;
}

.ce-toolbar__content {
  max-width: 100% !important;
}

.codex-editor--narrow .ce-toolbar__actions {
  right: 100% !important;
}

.cdx-block {
  padding: 0px;
}

h1 {
  font-size: 2em;
  font-weight: inherit !important;
}
h2 {
  font-size: 1.5em;
  font-weight: inherit !important;
}
h3 {
  font-size: 1.17em;
  font-weight: inherit !important;
}
h4 {
  font-size: 1em;
  font-weight: inherit !important;
}
h5 {
  font-size: 0.83em;
  font-weight: inherit !important;
}
h6 {
  font-size: 0.67em;
  font-weight: inherit !important;
}

@keyframes smoothTransition {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
