@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1a181b;
  color: #f5f3f5;
}

.btn-bg {
  background-color: #3e8989;
}

.btn-bg:hover {
  background-color: #337171;
}

.text-btn {
  color: #4ca9a9;
}

.textfield-bg {
  background-color: #f0ebd8;
}

.password-met {
  color: #ace1af;
}

.password-unmet {
  color: #cd5c5c;
}
